@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Dancing+Script:wght@400..700&family=Handlee&family=Jaro:opsz@6..72&family=Knewave&family=La+Belle+Aurore&family=Leckerli+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rajdhani:wght@300;400;500;600;700&family=Ruge+Boogie&family=Satisfy&family=Solway:wght@300;400;500;700;800&family=Trade+Winds&family=WindSong:wght@400;500&display=swap');



/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 80%;
  margin: auto
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}